#connect-button {
    background-color: red; /* Red background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Change default font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
  }
  